Django==4.2.30
djangorestframework==3.16.1
django-cors-headers==4.9.0
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.30.0
Pillow==11.3.0
psycopg[binary]>=3.2,<4
setuptools>=70,<81
stripe==15.5.1
sentry-sdk==2.68.1
